# Fichiers systèmes
Thumbs.db
.DS_Store

# Configuration IDE
.vscode/
.idea/

# Node.js - Dépendances et Logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dossiers temporaires
tmp/

# Environnement et Secrets (Très important)
.env
.env.local